@using Agitator.Business.Entity.ContractEntity;
@model CompanyDetails
<script>
    $(function () {
        $("#btnDelete").click(function () {
            deleteConfirmInfo();
        });
        //Remove company
        function deleteConfirmInfo() {
            jQuery.messager.confirm("提示：", "确定删除吗？", function (event) {
                if (event) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete","Company",new { area="Contract"})',
                        data: { id: @Model.id },
                        success: function (data) {
                            if (data.result == "1") {
                                jQuery.messager.alert('提示：', '删除成功');
                                window.history.back();
                            } else {
                                jQuery.messager.alert('提示：', data.errmsg==null?"服务器异常，请稍后再试":data.errmsg);
                            }
                        }
                    });
                } else { }
            });
        }
    })
</script>
<div class="easyui-tabs" style="width:100%;height:700px;">
    <div title="单位详情" style="padding:10px;">
        <div class="title">
            单位信息
        </div>
        <div class="fitem">
            <label>单位编号: </label>
            <label>@Model.unitId</label>
        </div>
        <div class="fitem">
            <label>单位名称: </label>
            <label>@Model.unitName</label>
        </div>
        <div class="fitem">
            <label>单位简称: </label>
            <label></label>
        </div>
        <div class="fitem">
            <label>地址: </label>
            <label>@Model.address</label>
        </div>
        <div class="fitem">
            <label>业务类型: </label>
            <label></label>【指定该单位与本公司的业务关系】
        </div>
        <div class="fitem">
            <label>法人代表: </label>
            <label>@Model.cop</label>
        </div>
        <div class="fitem">
            <label>联系人: </label>
            <label>@Model.linkman</label>
        </div>
        <div class="fitem">
            <label>联系电话1: </label>
            <label>@Model.tel1</label>
        </div>
        <div class="fitem">
            <label>联系电话2: </label>
            <label>@Model.tel2</label>
        </div>
        <div class="fitem">
            <label>传真号码: </label>
            <label>@Model.fax</label>
        </div>
        <div class="fitem">
            <label>等级: </label>
            <label></label>
        </div>
        <div class="fitem">
            <label>登记人: </label>
            <label>@Model.setMan</label>
        </div>
        <div class="fitem">
            <label>登记时间: </label>
            <label>@Model.setDate</label>
        </div>
        <div class="fitem">
            <label>备注: </label>
            <label>@Model.remark</label>
        </div>
        <a id="btnEdit" href="@Url.Action("Edit","Company",new { area = "Contract",id = Model.id })" class="easyui-linkbutton easyui-linkbutton-cstype">修改</a>
        <a id="btnDelete" href="#" class="easyui-linkbutton easyui-linkbutton-cstype">删除</a>
        @*<a id="btnState" href="#" class="easyui-linkbutton easyui-linkbutton-cstype">启用</a>*@
        <a id="btnBacktoindex" href="@Url.Action("Index","Company",new { area="Contract"})" class="easyui-linkbutton easyui-linkbutton-cstype">返回</a>
        
    </div>
    <div title="站点同步" closable="false" style="padding:10px;">
        Second Tab
    </div>
</div>