@using Agitator.Business.Models.Contract;
@model EditCompanyModel

<style>
    .form-tab {
        border: 1px solid #D4D4D4;
        padding: 3px;
        width: 100%;
        margin: 3px 3px 15px 3px;
    }

        .form-tab td {
            padding: 3px;
            border: 1px solid #D4D4D4;
        }

            .form-tab td:first-child {
                width: 120px;
                text-align: right;
                background-color: #e5e4e4;
            }
</style>
<script>
    function FormSubmit() {
        $("#FormCompany").form('submit', {
            onSubmit: function () {
                return $(this).form('enableValidation').form('validate');
            }
        });
    }
</script>
<div class="easyui-tabs" style="width:100%;height:700px;">
    <div title="单位详情" style="padding:10px;">
        @using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { id = "FormCompany", area = "Contract" }))
        {
            @Html.HiddenFor(d => d.CompanyEntity.id)
            @Html.HiddenFor(d => d.CompanyEntity.unitId)
            <div class="easyui-tabs" style="width:100%;height:700px;">
                <div title="单位详情" style="padding:10px;">
                    <div class="easyui-panel" style="width:600px;padding:10px 10px;" title="编辑单位信息">
                        <table class="form-tab">
                            <tr>
                                <td>
                                    <label>单位编号:</label>
                                </td>
                                <td>
                                    <label>@Model.CompanyEntity.unitId</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>单位名称:</label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(d => d.CompanyEntity.unitName, new { @class = "easyui-textbox easyui-validatebox", style = "width:80%;", required = true })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>单位简称:</label>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>地址:</label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(d => d.CompanyEntity.address, new { @class = "easyui-textbox", style = "width:100%;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>业务类型:</label>
                                </td>
                                <td>
                                    @Html.DropDownListFor(d => d.CompanyEntity.typeId, ViewData["CompanyTypeList"] as List<SelectListItem>, new { @class = "easyui-combobox" })
                                    【指定该单位与本公司的业务关系】
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>法人代表: </label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(d => d.CompanyEntity.cop, new { @class = "easyui-textbox" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>联系人: </label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(d => d.CompanyEntity.linkman, new { @class = "easyui-textbox" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>联系电话1: </label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(d => d.CompanyEntity.tel1, new { @class = "easyui-textbox" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>联系电话2: </label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(d => d.CompanyEntity.tel2, new { @class = "easyui-textbox" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>传真号码: </label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(d => d.CompanyEntity.fax, new { @class = "easyui-textbox" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>等级: </label>
                                </td>
                                <td>
                                    @Html.DropDownListFor(d => d.CompanyEntity.gradeSid, ViewData["CompanyGradeList"] as List<SelectListItem>, new { @class = "easyui-combobox", style = "width:100px;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>登记人: </label>
                                </td>
                                <td>
                                    @Model.CompanyEntity.setMan
                                    @Html.HiddenFor(d => d.CompanyEntity.setMan)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>登记时间: </label>
                                </td>
                                <td>
                                    @Model.CompanyEntity.setDate
                                    @Html.HiddenFor(d => d.CompanyEntity.setDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>备注: </label>
                                </td>
                                <td>
                                    <input class="easyui-textbox" data-options="multiline:true" value="@Model.CompanyEntity.remark" style="width:100%;height:100px">
                                </td>
                            </tr>
                        </table>
                        <a id="btnEdit" href="#" onclick="FormSubmit();" class="easyui-linkbutton easyui-linkbutton-cstype">保存</a>
                        <a id="btnGoBack" href="@Url.Action("Index", "Company", new { area="Contract"})" class="easyui-linkbutton easyui-linkbutton-cstype">返回</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

