@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/gray/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*引用easyui脚本*@
    @Scripts.Render("~/bundles/easyui")
    @Scripts.Render("~/bundles/easyui/datagrid")
    <script>
        $(function () {
        $("#tt").datagrid({
            title: "企业单位列表",
            url: '/Contract/Company/LoadCompanyList',
            method: 'GET',
            width: '700',
            iconCls: 'icon-save',
            dataType: 'json',
            rownumbers: true, //是否加行号
            pageSize: 50, //页容量，必须和pageList对应起来，否则会报错            
            //pageList: [15, 30, 45],//分页中下拉选项的数值
            columns: [[
                { field: 'id', title: 'id' },
                { field: 'uname', title: '企业名称' },
                { field: 'setMan', title: '法人' }
            ]],
            singleSelect: true, //允许选择多行
            view: 'scrollview',
            autoRowHeight: false,
            height:'300'
        });
    })
    </script>
</head>
<body>
    数据
    @*<table id="tabList" class="easyui-datagrid" style="width:700px;height:300px"
           title="DataGrid - VirtualScrollView"
           data-options="view:scrollview,rownumbers:true,singleSelect:true,url:'@Url.Action("LoadCompanyList", "Company", new { area = "Contract" })',autoRowHeight:false,pageSize:50">
        <thead>
            <tr>
                <th field="id" width="80">id</th>
                <th field="uname" width="100">企业名称</th>
                <th field="setMan" width="80">法人</th>
            </tr>
        </thead>
    </table>*@

    <table id="tt" class="easyui-datagrid"></table>
</body>
</html>
