<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/gray/css")
    @Styles.Render("~/Content/themes/easyui/custom")
    @Styles.Render("~/Content/Custom/gray")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*引用easyui脚本*@
    @Scripts.Render("~/bundles/easyui")
    @Scripts.Render("~/bundles/easyui/customMain")
</head>
<body style="padding-top:0px;">
    @RenderBody()
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
